<section>
    <h2>Pedidos Abertos</h2>
    <table>
        <thead><tr><th>Mesa</th><th>ID do Pedido</th><th>Total</th><th>Ação</th></tr></thead>
        <tbody>
        <tr th:each="pedido : ${pedidosAbertos}">
            <td th:text="${pedido.mesaId}"></td>
            <td th:text="${pedido.id}"></td>
            <td th:text="${pedido.total}"></td>
            <td>
                <form th:action="@{/caixa/view/finalizar/{id}(id=${pedido.id})}" method="post">
                    <button type="submit">Finalizar</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</section>
